<div class="modal-header">
    <h5 class="modal-title">Créer un client</h5>
    <button [disabled]="saving" type="button" class="close" aria-label="Close" (click)="onDismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group row">
                <label for="firstName" class="col-lg-2 col-form-label text-align-right">Prénom</label>
                <div class="col-lg-10">
                    <input [disabled]="saving" type="text" class="form-control" name="firstName" [(ngModel)]="newCustomer.firstName" placeholder="Prénom">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-lg-2 col-form-label">Nom de famille</label>
                <div class="col-lg-10">
                    <input [disabled]="saving" type="text" class="form-control" name="lastName" [(ngModel)]="newCustomer.lastName" placeholder="Nom de famille">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-lg-2 col-form-label">Téléphone</label>
                <div class="col-lg-10">
                    <input [disabled]="saving" type="text" class="form-control" name="phone" [(ngModel)]="newCustomer.phone" placeholder="Téléphone">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="email" class="col-lg-2 col-form-label">Email</label>
                <div class="col-lg-10">
                    <input [disabled]="saving" type="email" class="form-control" name="email" [(ngModel)]="newCustomer.email" placeholder="email">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary"
            [disabled]="saving" 
            (click)="onConfirm()">Confirmer</button>
</div>
