<ng-template #customerCreationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Créer un client</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('abort')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group row">
          <label for="firstName" class="col-lg-2 col-form-label text-align-right">Prénom</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="firstName" [(ngModel)]="newCustomer.firstName" placeholder="Prénom">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-lg-2 col-form-label">Nom de famille</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="lastName" [(ngModel)]="newCustomer.lastName" placeholder="Nom de famille">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-lg-2 col-form-label">Téléphone</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="phone" [(ngModel)]="newCustomer.phone" placeholder="Téléphone">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label for="email" class="col-lg-2 col-form-label">Email</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" name="email" [(ngModel)]="newCustomer.email" placeholder="email">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('confirm')">Confirmer</button>
  </div>
</ng-template>

<div class="input-group mt-2 align-middle">
  <input #searchBox type="text"
                    class="form-control"
                    (keyup)="search(searchBox.value)"
                    placeholder="Chercher un client..."
                    style="width: 100%;"/>
  <span class="input-group-addon" (click)="showCustomerCreationModal(customerCreationModal)">
    <span class="mr-2 text-success">
      <i class="fa fa-plus-circle"></i>
    </span>
  </span>
</div>
<div class="list-group">
  <ng-container *ngFor="let customer of searchResults$ | async">
    <a *ngIf="!isExcluded(customer)"
       class="list-group-item list-group-item-action " (click)="onSelect(customer)">
     {{customer.firstName}} {{customer.lastName}}
   </a>
   </ng-container>
   <div *ngIf="pageSize < searchSize" class="list-group-item d-flex align-items-center">
      <a *ngIf="searchPage > 1" class="w-50" (click)="onPreviousPage()">
          Moins...
      </a>
      <a *ngIf="searchPage*pageSize < searchSize" class="w-50" (click)="onNextPage()">
          Plus..
      </a>
       </div>
</div>
