<osc-messages></osc-messages>
<ng-template #deletionModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Supprimer un client</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('abort')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Etes-vous sûr? Cette opération supprimera définitivement ce client et toutes les commandes associées!</p>
  </div>
  <div class="modal-footer btn-group d-flex">
      <button type="button" class="btn btn-danger w-100" (click)="c('cancel')">Annuler</button>
      <button type="button" class="btn btn-primary w-100" (click)="c('confirm')">Confirmer</button>
  </div>
</ng-template>
<ng-template #customerCreationModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title">Créer un client</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('abort')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group row">
            <label for="firstName" class="col-lg-2 col-form-label text-align-right">Prénom</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="firstName" [(ngModel)]="newCustomer.firstName" placeholder="Prénom">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName" class="col-lg-2 col-form-label">Nom de famille</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="lastName" [(ngModel)]="newCustomer.lastName" placeholder="Nom de famille">
            </div>
          </div>
          <div class="form-group row">
            <label for="lastName" class="col-lg-2 col-form-label">Téléphone</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="phone" [(ngModel)]="newCustomer.phone" placeholder="Téléphone">
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="email" class="col-lg-2 col-form-label">Email</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" name="email" [(ngModel)]="newCustomer.email" placeholder="email">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="c('confirm')">Confirmer</button>
    </div>
  </ng-template>
  <div class="row justify-content-center">
  <div class="col-6">
    <div class="input-group mt-2 align-middle">
      <input #searchBox type="text"
             class="form-control"
             (keyup)="search(searchBox.value)"
             placeholder="Filtre par nom ou email..."/>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="showCustomerCreationModal(customerCreationModal)">
          <i class="fa fa-plus-circle"></i>
          Ajouter un client
        </button>
      </div>
    </div>
  </div>
  <div class="col-9">
    <table class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers$ | async">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.email }}</td>
        <td>
          <a routerLink="/customers/{{ customer.id }}" class="badge badge-pill badge-primary" style="cursor: pointer">Editer</a>
          <a (click)="deleteCustomer(customer)" class="badge badge-pill badge-danger" style="cursor: pointer; color: white">Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div><div class="w-100" ></div>
  <ngb-pagination *ngIf="pageSize < collectionSize" [directionLinks]="false" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="onPageChange($event)"></ngb-pagination>
</div>
