
<div class="row mt-3">
  <div class="col-md">
    <osc-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="addOrRemoveEvent($event.detail)"></osc-fullcalendar>
  </div>
  <div class="col-md-3 panel panel-default">
      <div class="panel-heading text-center mb-3">
          <strong>Clients dans la commande</strong>
      </div>
      <div class="panel-body">
        <osc-customer-list [currentSelection]="currentCustomer" [customerChoices]="choices" (selected)="onCustomerSelected($event)"></osc-customer-list>
        <osc-customer-search (selected)="onCustomerAdded($event)"></osc-customer-search>
        <button class="btn btn-block btn-success mt-3" type="button"
             [disabled]="choices.length == 0 || choices[0].choices.length == 0"
             (click)="passOrder()">
          Finaliser la commande
        </button>
      </div>
  </div>
</div>
