
<div class="row mt-3">
  <div class="col-md">
    <osc-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="onEventSelected($event.detail)" *ngIf="calendarOptions != null else noCalendar"></osc-fullcalendar>
    <ng-template #noCalendar>Chargement du calendrier en cours...</ng-template>
  </div>
  <div class="col-md-3 panel panel-default">
      <div class="panel-heading text-center mb-3">
          <strong>Clients dans la commande</strong>
      </div>
      <div class="panel-body" *ngIf="orderModel != null">
        <osc-customer-list [currentSelection]="orderModel.currentCustomer" [customerChoices]="orderModel.selections" (selected)="onCustomerSelected($event)"></osc-customer-list>
        <osc-customer-search (selected)="onCustomerAdded($event)"></osc-customer-search>
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-danger mt-3" type="button" (click)="abortOrder()">
            Annuler
          </button>
          <button class="btn btn-success mt-3" type="button"
                  [disabled]="orderModel.selections.length == 0 || orderModel.selections[0].choices.length == 0"
                  (click)="passOrder()">
            Finaliser la commande
          </button>
        </div>
      </div>
  </div>
</div>
