<osc-messages></osc-messages>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="input-group mt-2 align-middle">
      <input #searchBox type="text"
             class="form-control"
             (keyup)="search(searchBox.value)"
             placeholder="Filtrer par client..."/>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="createOrder()">
          <i class="fa fa-plus-circle"></i>
          Nouvelle commande
        </button>
      </div>
    </div>
  </div>
  <div class="col-9">
    <table class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Commande</th>
        <th scope="col">Nombre de cours</th>
        <th scope="col">Contact</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td>{{ order.title }}</td>
        <td>{{ order.appointments.length}}</td>
        <td>{{ order.contact }}</td>
        <td><a (click)="editOrder(order)" class="badge badge-pill badge-primary" style="cursor: pointer; color: white">Editer</a></td>
      </tr>
      </tbody>
    </table>
  </div><div class="w-100" ></div>
  <ngb-pagination 
      *ngIf="pageSize < collectionSize" 
      [directionLinks]="false" 
      [collectionSize]="collectionSize"
      [pageSize]="pageSize"
      [(page)]="page"
      (pageChange)="onPageChange($event)">
  </ngb-pagination>
</div>
